
body {
    background-image: url('/assets/img/iMac_2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
